<footer>
    <div class="icons">
        <i class="fa-brands fa-facebook-f fa-lg"></i>
         <i class="fa-brands fa-instagram fa-lg"
            style="color: #000000;"></i> 
            <i class="fa-brands fa-x-twitter fa-lg" style="color: #000000;"></i>
        </div>
    <p>&copy; 2025 Homitly Private Limited</p>
    <p>PrivacyTerms</p>
</footer>