
  <form class="new-listing" action="/listing" method="POST" enctype="multipart/form-data">
        <h2 class="form-title">Provide Us Details</h2>
    
    
    <label>title</label>
    <input type="text" name="title" placeholder="Cozy Mountain Cabin" required />

    <label>description</label>
    <textarea name="description" placeholder="Describe your property..." required></textarea>

    <label>property Type</label>
    <select  name="propertyType" required>
      <option value="Apartment">Apartment</option>
      <option value="House">House</option>
      <option value="Villa">Villa</option>
      <option value="Cabin">Cabin</option>
      <option value="Other">Other</option>
    </select>

    <label>room type</label>
    <select name="roomType" required>
      <option value="Entire place">Entire place</option>
      <option value="Private room">Private room</option>
      <option value="Shared room">Shared room</option>
    </select>

    <label>max guests</label>
    <input type="number" name="maxGuests" min="1" required />

    <label>bedrooms</label>
    <input type="number" name="bedrooms" min="0" required />

    <label>beds</label>
    <input type="number" name="beds" min="0" required />

    <label>bathrooms</label>
    <input type="number" name="bathroom" min="0" />

    <label>amenities (comma separated)</label>
    <input type="text" name="amenities" placeholder="WiFi, Parking, Pool" />


    <label>address</label>
    <input type="text" name="address" placeholder="enter address" />

    <label>latitude</label>
    <input type="text" name="location[lat]" placeholder="Latitude (optional)" />

    <label>longitude</label>
    <input type="text" name="location[lng]" placeholder="Longitude (optional)" />

    <label>price Per Night ($)</label>
    <input type="number" name="pricePerNight" min="0" required />

    <label>cleaning Fee ($)</label>
    <input type="number" name="cleaningFee" min="0" value="0" />

    <label>upload image</label>
    <input type="file" name="photos" />

    <button type="submit">Submit</button>
  </form>