*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgb(34, 34, 34)
}

:root{
   font-family: "Nunito Sans", sans-serif;
   width: 100%;
   height: 100%;
   /* border: 2px solid green; */
   /* <weight>: Use a value from 200 to 1000 */
}

main{
    /* border: 2px solid red; */
    padding: 2rem 2rem;
    width: 90%;
    margin: 0 auto;
    /* border: 2px solid green; */
}