.new-listing {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 0 auto;
}

input {
  margin-bottom: 1rem;
  color: #121212;
  padding: 3px 5px;
}

.new-listing > button {
  background-color: #ff385c;
  border: 0;
  padding: 4px 0;
  color: white;
  font-weight: bold;
  width: 6.5rem;
}

select,
textarea {
  margin-bottom: 1rem;
}

textarea {
  height: 6rem;
  resize: none;
  padding: 5px;
}

select {
  height: 1.4rem;
}

label {
  margin-bottom: 0.2rem;
  font-size: 0.9rem;
}
