.show-image {
  width: 100%;
  max-height: 20rem;
  box-sizing: border-box;
  border-radius: 18px;
  object-fit: cover;
  object-position: center 75%;
}

.title-address{
  line-height: 0;
  /* margin-top: 1rem; */
}

.show-section {
  display: flex;
  max-width: 75%;
  margin: 0 auto;
  flex-direction: column;
  padding-inline: 1rem;
}

.space-details {
  font-size: 0.9rem;
  font-weight: 500;
  color: #313131;
  margin-bottom: 5px;
}

.buttons > *,
.submit-review {
  padding: 2px 0;
  width: 4.3rem;
  border: none;
  background-color: #e9e9e9;
  text-decoration: none;
  text-align: center;
  border-radius: 5px;
}

.buttons {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;

  justify-content: baseline;
  flex-direction: row;
}

.submit-review {
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.description > p {
  padding: 1rem 0;
}

[name="comment"] {
  width: 100%;
  height: 8rem;
  resize: none;
  padding: 7px;
  border-radius: 0;
}


.review-box-parent{
    display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 1rem;
  justify-content: space-between;
}

.review-box {
  display: flex;
  gap: 9px;
  min-width: 18rem;
  margin-bottom: 0.8rem;
  flex: 1;
  padding: 5px;
  flex-direction: column;
}

.delete-review {
  border: 0;
  font-size: 0.7rem;
  padding: 2px 8px;
  background-color: rgb(223, 223, 223);
}

#map {
  height: 270px;
  width: 100%;
  border: 2px solid #d8d8d8;
}

.map-section > h3 {
  font-size: 22px;
  color: #121212;
}

.map-section > p {
  margin: 5px 0 1rem 0;
  font-size: 1rem;
  font-weight: 400;
  color: #313131;
}

.host-group {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}


.host-group > img {
  border-radius: 50%;
  height: 40px;
}

.review-box > .host-group > img {
  width: 35px;
  height: 35px;
  object-fit: cover;
}

.review-box > .host-group{
  gap: 0.6rem;
}


.starability-result{
  margin-top: 3px;
}

.review-form{
  width: 100%;
}