<div class="login">
     <h4>User Login</h4>
    <form action="/user/login" method="post">
        <label>username</label>
        <input type="text" name="username" required>
        <label for="">password</label>
        <input type="password" name="password" required>
        <button type="submit">submit</button>
    </form>
</div>